<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <!--默认配置-->
  <!--<connectionStrings>
    <add name="DataModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=_09CodeFirst.DataModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <!--SqlServer的连接配置-->
  <connectionStrings>
    <add name="DataModel" connectionString="server=127.0.0.1;uid=sa;pwd=980421cxz;database=CodeFirstDemo" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!--MySql的连接配置-->
  <!--<connectionStrings>
    <add name="DataModel" connectionString="server=127.0.0.1;user=root;password=980421cxz;persist security info=True; database=CodeFirstDemo;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>-->

</configuration>